* {
    margin: 0;
    padding: 0;
}
#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins';
    min-height: 200vh;

}
#contact-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 460px;
    width:60% ;
    max-width: 380px;
    background-color: #f9fafc;
    border: 3px solid #f6f6fa;
    box-shadow: 0 0 10px rgba(15, 14, 14, 0.1);
    overflow: hidden;
    border-radius: 10px;
    flex-wrap: wrap;

}

.contact-title {
    width: 35%;
    font-size: 45px;
    color: blueviolet
    align-items: center;
    justify-content:center;
    height: 35%;
 
}
.contact-container {
    width: 100%;
    padding: 8px 
    display: flex;
    gap: 50px;
    height: 500px;
    margin-bottom: 16px;
    box-sizing:border-box;
    border-radius:20px;
    background-color:#dcdel;
    border:none;
    justify-content:center;


}
.contact-text {
    width: 20%;
    justify-content: center;
    font-size: 50px;
    color: rgb(120, 19, 160);
    line-height:normal;
    display: flex;
    align-items: center;
    padding-top: 30px;
    


}
.contact-btn {
    font-size: 15px;
    color: rgb(238, 238, 250);
    background-color: rgb(61, 150, 80);
   

}
#about-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.about-text {
    font-size: 23px;
    color: gray;
    line-height:normal; 
    
}
.about-container{
    width: 80%;
    padding-top: 80px
    display: flex;
    padding: 20px;
    gap: 20px;
    height: 500px;
    flex-wrap: wrap;
    justify-content: center;

}
.about-title {
    width: 80%;
    font-size: 44px;
    color: purple;
    padding-top: 80px;
    padding: bottom 20px; 
}
.about-exp {
    width: 80%;
    font-size: 44px;
    color: purple;
    padding-top: 80px;
    padding: bottom 20px

}
.img-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.img-user {
    width: 100%;
    height: 30%;
}
.icon {
    width: 20px;
    height: 20px;
}
.img-item {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color:rgb(236, 232, 232) ;
}


.cir-box
{
    width: 30px;
    height: 30px;
    background-color: rgb(61, 28, 110);
    border-radius: 300%
}
.line-box {
    width: 5px;
    height: 70px;
    background-color: rgb(130, 101, 160);
}

.about-text-warpper {
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.about-icons-warpper {
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-exp {
    padding: 30px;
    border-radius: 40px;
    background-color: rgb(241, 237,240);
}
.exp-warpper {
    display: flex;
    flex-direction: row;
    gap: 30px;
}


.work-item {
    width: 230px;
    height: 230px;
    border-radius: 20px;
    background-color: rebeccapurple;
}
.img-work {
    width: 230px;
    height: 230px;
}
.work-title {
    color: rgb(44, 6, 80);
    font-size: 20px;
}
.item {
    width: 50px;
    height: 50px;
    border: 1px solid red;
}
main {
    width: 100%;
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    border: 1px solid purple;
}
#main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 20px;
}
.img-user {
    border-radius: 200px;
    width: 250px;
    height: 250px;
} 

.textlink {
    color: rgb(207, 127, 6);
    text-decoration: underline;
    justify-content: center;

}
header {
    width: 100%;
    height: 200vh;
    background-color: black;
    color: white;
    display: flex;
    height: 50px;
    font-size: 17px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 10px;
}
footer {
    background-color: black;
    color: white;
}
footer p {
    text-align: center;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
body {
    font-family: poppins;
}
.container {
    border: 1px solid red;
    width: 100%;
    display: flex;
    padding: 20px;
    gap: 20px;
    height: 500px;
    padding-top: 80px;
    flex-wrap: wrap;
    justify-content: center;
}

    
.active {
    padding: 2px 7px;
    background-color: rgb(62, 14, 131);

}
.list {
    list-style: none;
    display: flex;
    gap: 10px;
}

a{
    color: unset;
    text-decoration: none;
}
@media only screen and(orientation:landscape){
main {
    height: 490px;
}
}
@media only screen and (max-width: 400px) {
    .about-container{
        padding-top: 240px;
    }
    .about-title{
        font-size: 29px;
    }
    .about-text{
        font-size: 18px;
    }
    #logo{
        display: none;
    }
}









































